<div>
    <form nz-form [formGroup]="form" (ngSubmit)="onSubmit()">
        <nz-divider></nz-divider>
        <nz-form-item>
            <nz-form-label [nzSpan]="4">Nombre</nz-form-label>
            <nz-form-control [nzSpan]="6" nzHasFeedback nzErrorTip="Input is required">
                <input nz-input type="text" [formControl]="name">
            </nz-form-control>
        </nz-form-item>
        <nz-divider></nz-divider>
        <nz-form-item>
            <nz-form-label [nzSpan]="4">Empleo actual</nz-form-label>
            <nz-form-control [nzSpan]="6" nzHasFeedback nzErrorTip="Input is required">
                <input nz-input type="text" [formControl]="position">
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSpan]="4">Tiempo</nz-form-label>
            <nz-form-control [nzSpan]="6" nzHasFeedback nzErrorTip="Input is required">
                <input nz-input type="number" [formControl]="positionTime">
            </nz-form-control>
        </nz-form-item>
        <nz-divider></nz-divider>
        <nz-form-item *ngFor="let control of historyJobs.controls; let i = index">
            <nz-form-label *ngIf="i == 0" [nzSpan]="4">Historial</nz-form-label>
            <nz-form-control [nzSpan]="6" [nzOffset]="i == 0 ? 0 : 4" nzHasFeedback nzErrorTip="Input is required">
                <input nz-input type="text" [formControl]="historyJobs.controls[i]">
            </nz-form-control>
        </nz-form-item>
        <nz-divider></nz-divider>
        <nz-form-item>
            <nz-form-label [nzSpan]="4">Studies</nz-form-label>
            <div nz-col nzSpan="3" *ngFor="let control of studies.controls; let i = index">
                <nz-form-item>
                    <nz-form-control [nzSpan]="24" nzHasFeedback nzErrorTip="Input is required">
                        <input nz-input type="text" [formControl]="studies.controls[i].controls['entity']" placeholder="Entity">
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control [nzSpan]="24" nzHasFeedback nzErrorTip="Input is required">
                        <input nz-input type="text" [formControl]="studies.controls[i].controls['year']" placeholder="Year">
                    </nz-form-control>
                </nz-form-item>
            </div>
        </nz-form-item>
        <nz-divider></nz-divider>
        <button nz-button nzType="primary" type="submit" [disabled]="form.invalid">SEND</button><br><br><br>
    </form>
</div>

<div style="display: flex; flex-direction: row; flex-wrap: wrap">
    <nz-card style="margin: 5px; width: 220px;" nzTitle="FormControl name" >
        <pre>{{ name.valid | json }}</pre>
        <pre>{{ name.value | json }}</pre>
    </nz-card>

    <nz-card style="margin: 5px; width: 220px;" nzTitle="Group Job" >
        <pre>{{ job.valid | json }}</pre>
        <pre>{{ job.value | json }}</pre>
    </nz-card>

    <nz-card style="margin: 5px; width: 220px;" nzTitle="Array formControls historyJobs" >
        <pre>{{ historyJobs.valid | json }}</pre>
        <pre>{{ historyJobs.value | json }}</pre>
    </nz-card>

    <nz-card style="margin: 5px; width: 220px;" nzTitle="Array formGroups studies" >
        <pre>{{ studies.valid | json }}</pre>
        <pre>{{ studies.value | json }}</pre>
    </nz-card>

    <nz-card style="margin: 5px; width: 220px;" nzTitle="form data" >
        <pre>{{ form.valid | json }}</pre>
        <pre>{{ form.value | json }}</pre>
    </nz-card>
    
</div>
<button type="button" (click)="deatach()">deatach</button>
    <button type="button" (click)="atach()">atach</button>
